   /* PC */
   @media screen and (min-width: 1024px) {
  }
  /* Tablet */
  @media screen and (max-width: 1024px) and (min-width: 740px) {
  }
  /* Mobile */
  @media screen and (max-width: 739px) {
    #header{
        overflow: hidden;
    }
    #header .menu-mobile-btn{
        display: block;
    }
    #header .search-button{
       display: none;
    }
    #nav{
        display: block;
    }
    #nav li {
        display: block;
    }
    #nav .li-home{
        display: inline-block;
    }
    #nav .subnab {
        position: initial;
        background-color: #333;
    }
    #nav .subnab a {
        padding: 3px 35px;
        color: #fff !important
    }

  }